@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

:root {
  --app-container: #f3f6fd;
  --main-color: #1f1c2e;
  --secondary-color: #4a4a4a;
  --link-color: #1f1c2e;
  --link-color-hover: #c3cff4;
  --link-color-active: #fff;
  --link-color-active-bg: #1f1c2e;
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --projects-section: #fff;
  --message-box-hover: #fafcff;
  --message-box-border: #e9ebf0;
  --more-list-bg: #fff;
  --more-list-bg-hover: #f6fbff;
  --more-list-shadow: rgba(209, 209, 209, 0.4);
  --button-bg: #1f1c24;
  --search-area-bg: #fff;
  --star: #1ff1c2e;
  --message-btn: #fff;
}

/* .dark:root {
  --app-container: #1f1d2b;
  --app-container: #111827;
  --main-color: #fff;
  --secondary-color: rgba(255,255,255,.8);
  --projects-section: #1f2937;
  --link-color: rgba(255,255,255,.8);
  --link-color-hover: rgba(195, 207, 244, 0.1);
  --link-color-active-bg: rgba(195, 207, 244, 0.2);
  --button-bg: #1f2937;
  --search-area-bg: #1f2937;
  --message-box-hover: #243244;
  --message-box-border: rgba(255,255,255,.1);
  --star: #ffd92c;
  --light-font: rgba(255,255,255,.8);
  --more-list-bg: #2f3142;
  --more-list-bg-hover:  rgba(195, 207, 244, 0.1);
  --more-list-shadow: rgba(195, 207, 244, 0.1);
  --message-btn: rgba(195, 207, 244, 0.1);
} */

body {
  font-family: "DM Sans", sans-serif;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  background-color: var(--app-container);
  user-select: none;
}

.container {
  display: flex;
  width: 96%;
  margin: 0 auto;
  /* gap: 1.8rem; */
  /* grid-template-columns: 12rem auto 23rem; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  color: var(--main-color);
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

/* .profile-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-left: 2px solid #ddd;
  
  img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 4px;
  }

  span {
    color: var(--main-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
} */

.text-muted {
  color: var(--link-color);
}

p {
  color: var(--main-color);
}

b {
  color: var(--main-color);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.warning {
  color: var(--color-warning);
}

.success {
  color: var(--color-success);
}

aside {
  height: 100vh;
}

aside .top {
  background: white;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

aside .logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 0.23rem;
}

aside .logo img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

/* aside .close{
  display: none;
} */

aside .sidebar {
  background: white;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 96vh;
  position: fixed;
  padding: 10px 14px;
  top: 1rem;
  transition: all 300ms ease;
}

aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: var(--secondary-color);
  /* margin-left: 1rem; */
  padding: 15px;
  gap: 1rem;
  align-items: center;
  position: relative;
  /* height: 3.7rem; */
  transition: all 300ms ease;
}

aside .sidebar a span {
  display: inline-block;
  height: 25.6px;
}

aside .sidebar a svg {
  fill: var(--secondary-color);
  width: 1.6rem;
  height: 1.6rem;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active {
  background: var(--link-color-hover);
  /* color: var(--link-color-active-bg); */
  /* margin-left: 0; */
}

/* aside .sidebar a.active:before{
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary);
} */

aside .sidebar a.active svg {
  fill: var(--color-primary);
  /* margin-left: calc(1rem - 3px); */
}

/* aside .sidebar a:hover{
  columns: var(--color-primary);
} */

/* aside .sidebar a:hover span{
  margin-left:  1rem;
} */

/* .sidebar .icon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
} */

.sidebar-collapser {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  right: -12px;
  top: 75px;
  padding: 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  fill: #fff;
  box-shadow: rgba(#131c31, 0.2) 0px 7px 29px 0px;
  background-color: #36415e;
  display: inline-block;
  align-items: center;
  justify-content: center;
  z-index: 111;
}

/* aside .sidebar-collapser span{
  display: inline-block;
  height: 24px;
} */

.sidebar-collapser.rotate {
  transform: rotate(180deg);
}

.sidebar.close {
  width: 83.5px;
}

.project.close {
  margin-left: 0;
  transition: all 300ms ease;
}

.sidebar-container.close {
  width: 83.5px;
}

.sidebar-text {
  display: block;
  /* transition: opacity 0.3s ease; */
}

.close .sidebar-text {
  opacity: 0; /* Hide the text when collapsed */
}

.spinner {
  margin: 5rem auto;
  text-align: center;
}

.spinner svg {
  height: 6rem;
  width: 6rem;
  fill: var(--main-color);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
