:root {
  --bg: #ebf0f7;
  --header: #fbf4f6;
  --text: #2e2e2f;
  --white: #ffffff;
  --light-grey: #c4cad3;
  --color-primary: #7380ec;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  min-height: 100vh;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

.main {
  .wrapper {
    max-width: 28rem;
    width: auto;
    margin: 2rem auto;
    padding: 2rem 2.5rem;
    border-radius: 0.25rem;
    color: var(--text);
    background: var(--bg);
    box-shadow: var(--light-grey);

    .form {
      width: 100%;
      height: auto;
      margin-top: 2rem;

      .input-control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.25rem;
      }

      .input-field {
        font-family: inherit;
        font-size: 1rem;
        font-weight: 400;
        width: 100%;
        height: auto;
        padding: 0.75rem 1.25rem;
        border-radius: 2rem;
        color: var(--text);
        background: var(--white);
      }

      .input-signup {
        display: flex;
        justify-content: flex-end;
      }

      .input-submit {
        order: 2;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        min-width: 40%;
        height: auto;
        padding: 0.65rem 1.25rem;
        border-radius: 2rem;
        color: var(--white);
        background: var(--color-primary);
      }
    }
  }
}
